.SearchWeather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: red;
}

.SearchWeather ul {
  margin: 0;
  padding: 0;
}

.SearchWeather li {
  list-style: none;
}
